.feed {
  flex: 0.6;
  margin: 0 20px;
}

.feed-inputMain {
  background-color: white;
  padding: 10px;
  padding-bottom: 20px;
  border-radius: 10px;
  margin-bottom: 20px;
}

.feed-input {
  border: 1px solid lightgray;
  border-radius: 30px;
  display: flex;
  align-content: center;
  height: 40px;
}

.input-icon {
  margin: 6px;
}

.feed-input > form {
  display: flex;
  width: 100%;
  /* height: 40px; */
}

.feed-input > form > input {
  border: none;
  flex: 1;
  margin-left: 10px;
  margin-right: 10px;
  outline-width: 0;
  font-weight: 600px;
}

.feed-input > form > button {
  display: none;
}

.feed-options {
  display: flex;
  justify-content: space-evenly;
}

@media screen and (max-width: 950px) {
  .feed {
    flex: 0.7;
  }
  .feed-inputMain {
    background-color: white;
    padding: 10px;
    padding-bottom: 20px;
    border-radius: 10px;
    margin: 25px 0;
  }
}

@media screen and (max-width: 750px) {
  .feed {
    flex: 1;
  }

  .feed-inputMain {
    background-color: white;
    padding: 10px;
    padding-bottom: 20px;
    border-radius: 10px;
    margin: 25px 0;
  }
}

@media screen and (max-width: 540px) {
  .feed {
    flex: 1;
  }

  .feed-inputMain {
    background-color: white;
    padding: 10px;
    padding-bottom: 20px;
    border-radius: 10px;
    margin: 25px 0;
  }
}
