.header {
  position: sticky;
  top: 0;
  z-index: 999;
  display: flex;
  background-color: white;
  justify-content: space-evenly;
  border-bottom: 1px solid lightgrey;
  padding: 10px 0 10px 0;
  width: 100%;
}

.header-left {
  display: flex;
}

.header-right {
  display: flex;
}

.img {
  object-fit: contain;
  height: 40px;
  margin-right: 10px;
  background-color: #0d74b1;
}

.header-search {
  padding: 10px;
  display: flex;
  align-items: center;
  border-radius: 5px;
  height: 20px;
  color: grey;
  background-color: #eef3f8;
}

.header-input {
  outline: none;
  border: none;
  background: none;
}

@media screen and (max-width: 950px) {
  .header {
    position: sticky;
    top: 0;
    z-index: 999;
    display: flex;
    background-color: white;
    justify-content: space-evenly;
    border-bottom: 1px solid lightgrey;
    padding: 10px 0 10px 0;
    width: 100%;
  }
}

@media screen and (max-width: 750px) {
  .header {
    position: sticky;
    top: 0;
    z-index: 999;
    display: flex;
    background-color: white;
    justify-content: space-evenly;
    border-bottom: 1px solid lightgrey;
    padding: 10px 0 10px 0;
    width: 100%;
  }
}

@media screen and (max-width: 540px) {
  .header {
    position: sticky;
    top: 0;
    z-index: 999;
    display: flex;
    background-color: white;
    justify-content: space-evenly;
    border-bottom: 1px solid lightgrey;
    padding: 10px 0 10px 0;
    width: 100%;
  }
}

@media screen and (max-width: 360px) {
  .header {
    position: sticky;
    top: 0;
    z-index: 999;
    display: flex;
    background-color: white;
    justify-content: space-evenly;
    border-bottom: 1px solid lightgrey;
    padding: 10px 0 10px 0;
    width: 100%;
  }
}
