.login {
  display: grid;
  place-items: center;
  margin-left: auto;
  margin-right: auto;
  padding-top: 100px;
  padding-bottom: 100px;
}

.login-img {
  object-fit: contain;
  height: 100px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.login > form {
  display: flex;
  flex-direction: column;
}

.login > form > input {
  width: 350px;
  height: 50px;
  font-size: 20px;
  padding-left: 10px;
  margin-bottom: 10px;
  border-radius: 10px;
}

.login > form > button {
  width: 350px;
  height: 50px;
  font-size: 20px;
  padding-left: 10px;
  margin-bottom: 10px;
  border-radius: 10px;
  background-color: #0073b4;
  color: white;
}

.login > p {
  margin-top: 10px;
}

.login__register {
  color: #0073b4;
  cursor: pointer;
}

@media (max-width: 900px) {
  .login {
    height: 50vh;
    display: grid;
    place-items: center;
    margin-left: auto;
    margin-right: auto;
    padding-top: 255px;
    padding-bottom: 255px;
    column-gap: 20px;
  }

  .login-img {
    margin-top: 4px;
    margin-bottom: 4px;
  }
}

@media (max-width: 576px) {
  .login {
    height: 70vh;
    display: grid;
    place-items: center;
    margin-left: auto;
    margin-right: auto;
    padding-top: 100px;
    padding-bottom: 100px;
  }

  .login-img {
    height: 50px;
    margin-top: 20px;
    margin-bottom: 20px;
  }

  .login > form {
    display: flex;
    flex-direction: column;
  }

  .login > form > input {
    width: 350px;
    height: 40px;
    font-size: 15px;
    padding-left: 10px;
    margin-bottom: 10px;
    border-radius: 10px;
  }

  .login > form > button {
    width: 358px;
    height: 55px;
    font-size: 20px;
    padding-left: 10px;
    margin-bottom: 10px;
    border-radius: 10px;
    background-color: #0073b4;
    color: white;
  }
}
